{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-3">
                <h2 class="logo-font">Reviews</h2>
            </div>
        </div>
        <div class="row">
            <div class="card border-success rounded-0 m-3">
                <a class="btn btn-success rounded-0" href="{% url 'add_review' %}">Add Review</a>
            </div>
        </div>
        <div class="row">
            {% for review in reviews %}
                <div class="card border-success rounded-0 m-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ review.product }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Created by {{ review.created_by }} on {{ review.creation_date_time }}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Last updated on {{ review.last_update_date_time }}</h6>
                        <p class="card-text text-success">{{ review.text_content }}</p>
                        <small class="mt-1 mb-0">
                            <a href="{% url 'edit_review' review.id %}">Edit</a> | 
                            <a class="text-danger" href="{% url 'confirm_delete_review' review.id %}">Delete</a>
                        </small>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}