<div class="row">
    <div class="col-6 my-1">
        {% if item.product.image %}
            {% if product.subtitle %}
                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.title }} - {{ product.subtitle }}">
            {% else %}
                <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.title }}">
            {% endif %}
        {% else %}
            {% if product.subtitle %}
            <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.title }} - {{ product.subtitle }}">
            {% else %}
                <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.title }}">
            {% endif %}
        {% endif %}
    </div>
</div>