<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-black mr-5" href="#">
                All Products
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-black mr-5" href="#">
                Fresh Fruits
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-black mr-5" href="#">
                Fresh Vegetables
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-black mr-5" href="#">
                Boxes
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Interactions
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="my-interactions-link">
                <a href="#" class="dropdown-item">My product reviews</a>
                <a href="#" class="dropdown-item">My product requests</a>
                <a href="#" class="dropdown-item">Request a contact from our team</a>
            </div>
        </li>

    </ul>
</div>