<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}">
                All Products
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=fresh_fruits"">
                Fresh Fruits
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=fresh_vegetables">
                Fresh Vegetables
            </a>
        </li>
        <li class="nav-item d-block">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=boxes">
                Boxes
            </a>
        </li>
    </ul>
</div>