{% extends "account/base.html" %}

{% load i18n %}

{% block inner_content %}
<hr>
<h2 class="logo-font mb-4">{% trans "Delete Contact Request" %}</h2>
<hr>
<p>{% trans 'Are you sure you want to delete this contact request?' %}</p>

<form method="post" action="{% url 'delete_contact_request' contact_request.id %}">
  {% csrf_token %}
  <a class="btn btn-outline-success rounded-0" href="{% url 'contact_requests' %}">Cancel</a>
  <button class="bg-success border-success rounded-0" type="submit">{% trans 'Delete' %}</button>
</form>


{% endblock %}
